ebin
.psc-package
output
src/compiled_ps
_build
tags
logs
releases
_checkouts
.\#*
\#*
log
.spago
node_modules
.psci_modules
server/purs
.DS_store
.psc-ide-port
_assets
logs*/
*.beam
config.log
.makefile_up_to_date
config.mak
*.o
*.so
*.tmpdata
*.tmp

.vscode
*.code-workspace
.fuse_*
TEST-test_main@ps.xml

tags.lock
tags.temp
rebar3.crashdump
erl_crash.dump
